<div class="container">
  <h1>Marvel at our glorious rockets</h1>
  <br>
    <div class="cards">
      <% @rockets.each do |rocket| %>
        <%= link_to rocket_path(rocket) do %>
          <div class="card">
            <p> Name: <%= rocket.name %> </p>
            <p> Price: <%= rocket.price %></p>
            <p> Fuel: <%= rocket.fuel %></p>
            <p> Description: <%= rocket.description %></p>
          </div>
        <% end %>
      <% end %>
     <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  </div>
  <br>
  <%= link_to "Create rocket", new_rocket_path, class: "btn btn-primary"%>

</div>
