<div class="container">
  <h1>Marvel at our glorious rockets</h1>
  <br>
    <div class="cards">
      <% @rockets.each do |rocket| %>
        <% if policy(rocket).edit? %>
          <%= link_to rocket_path(rocket) do %>
            <div class="card">
              <p> Name: <%= rocket.name %> </p>
              <p> Price: <%= rocket.price %></p>
              <p> Fuel: <%= rocket.fuel %></p>
              <p> Description: <%= rocket.description %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
  <%= link_to "Create rocket", new_rocket_path, class: "btn btn-primary"%>
</div>
