<div class="container">
  <h1>Create a new rocket</h1>
  <%= link_to "Back to all rockets", rockets_path, class: "btn btn-primary my-2"%>

  <%= simple_form_for @rocket do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :fuel %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create Rocket", class: "btn btn-primary my-2" %>
  <% end %>
</div>
