<div class="container">
  <h1><%=  @rocket.name %></h1>

  <%= link_to "Book rocket", new_rocket_booking_path(@rocket), class: "btn btn-primary my-2" %>
  <%= link_to "Show my bookings", bookings_path, class: "btn btn-primary my-2" %>
  <%= link_to "Back to all rockets", rockets_path, class: "btn btn-primary my-2" %>

  <div class="cards">
    <div class="card">
      <% if @rocket.photo.attached? %>
        <%= cl_image_tag @rocket.photo.key , width: 340, height: 200, crop: :fill %>
      <% else %>
        <%= cl_image_tag("https://res.cloudinary.com/disabu2ji/image/upload/v1629381653/Rent%20a%20Rocket/soyuz_rocket_launch_rocket_dxw0wg.jpg", width: 340, height: 200, crop: :fill) %>
      <% end %>
      <h3> <%= @rocket.name %> </h3>
      <div class="card-header">
        <p> <%= @rocket.price %>€</p>
        <p> &#x26FD; <%= @rocket.fuel %></p>
      </div>
      <div class="description">
        <p><%= @rocket.description %></p>
      </div>
      <div class="address">
        <p> &#x1F30D; <%= @rocket.address %>
      </div>
      <div class="booked">
        <% unless @rocket.bookings.empty? %>
          <% if policy(@rocket).update? %>
            <%= link_to "Confirm booking", booking_path( @booking), method: "patch", class: "btn btn-primary"%>
            <%= @booking.status %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
